/.vscode
/036.PNG
/241080200061-Muhammad Alfin Dharmansyah-UTS-ALPO1A1-GS2425.docx
/241080200061-Muhammad Alfin Dharmansyah-UTS-ALPO1A1-GS2425.pdf
/2output.PNG
/Algoritma_M.Alfin.D_241080200061.pdf
/BilanganPrima_M.Alfin.D_241080200061.pdf
/binary.png
/Binary.py
/Binary2.py
/Binary3.py
/binarys.py
/bubble.PNG
/bubble.py
/cars.db
/chatbot.png
/chatpot_sederhana.py
/chatpot_sederhana0.py
/Code faktor.PNG
/Code Prima.PNG
/CSV.py
/faktor.PNG
/faktor.py
/ganjilgenap.PNG
/ganjilgenap.py
/input36.py
/input45.PNG
/inputs36.PNG
/insertion.PNG
/insertion.py
/jajargenjang.PNG
/jajargenjang.py
/JSON.py
/Kode tuga1.docx
/Kode tugas.docx
/Lembar-Kerja-Praktikum-ALPO-GS2425-P01-P03.docx
/Lembar-Kerja-Praktikum-ALPO-GS2425-P04.docx
/LISTvending.png
/MaxMin.PNG
/MaxMin.py
/Modul-Praktikum-ALPO-GS2425 .docx
/Modul-Praktikum-ALPO-GS2425 .pdf
/Modul-Praktikum-ALPO-GS2425-P01-P03.pdf
/Modul-Praktikum-ALPO-GS2425-P04.pdf
/Modul-Teori-ALPO-GS2425 .docx
/Modul-Teori-ALPO-GS2425 .pdf
/o45.PNG
/obubble.PNG
/oinsert.PNG
/oprime2.PNG
/orsa.PNG
/oselectionsort.PNG
/Output 36.PNG
/output 45.PNG
/output prima.PNG
/outputfaktor1.PNG
/outputfaktor2.PNG
/outputjajarangenjang.PNG
/OUTPUTP0301.PNG
/outputPBL0101.PNG
/outputPBL102.PNG
/outputpersegi.PNG
/outputpersegipanjang.PNG
/outputsegitiga.PNG
/output_chatbot.PNG
/p.py
/PemFaktoran_M.Alfin.D_241080200061.pdf
/persegi.PNG
/persegi.py
/persegipanjang.PNG
/persegipanjang.py
/PraktikumALPO.zip
/prima.PNG
/Prima.py
/prime2.PNG
/PRIME2.PY
/products.csv
/products.xml
/rsa.png
/rsa.py
/search.py
/segitiga.PNG
/segitiga.py
/selection sort.PNG
/selection sort.py
/sequential dan binary.py
/sequential.png
/sequential2.py
/sequential3.py
/SETvend.png
/sort1.py
/sort2.py
/training1.html
/training2.html
/tugas praktikum.docx
/TUGAS TEORI ALPO.docx
/TugasSistemDigital_Muhammad Alfin D_241080200061_1A1.pdf
/TUPLEvend.png
/vendDic.py
/vending.db
/vendings.db
/vending_machine.py
/vendList.py
/VENDLIST2.py
/vendSet.py
/vendTuple.py
/venv
/XML.py